**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/.idea
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md
**/README.md
**/LICENSE
**/coverage
**/.editorconfig
**/.aws
**/dist
.DS_Store
/protos
Makefile
CHANGELOG.md
analysis_options.yaml
/test
build/
.github/
.packages